/* CSS Resets */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Body container */
.container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  background-color: #F6F8FA;
  color: #1C4980;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

/* Sidebar */
.sidebar {
  width: 10%;
  background-color: #FFFFFF;
  padding: 16px 20px 20px 30px;

  .sections {
  
    .link {
      width: 100%;
      max-width: 120px;
      aspect-ratio: 9/7;
      padding: 10px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6px;
      font-size: 12px;
      cursor: pointer;

      > p {
        max-width: 75px;
        text-align: center;
      }

      .link-icon {
        width: 25%;
        min-width: 20px;
        aspect-ratio: 1;

        > img {
          width: 100%;
        }
      }

      .admin-tag {
        background-color: #FBEBEA;
        color: #D63500;
        font-size: 10px;
        border: 1px solid #D63500;
        padding: 5px 8px;
        border-radius: 100px;
        margin-block: 6px;
      }

      &.active {
        border: 1px solid #0073E6;
        color: #0073E6;
        background-color: #E5F1FC;
        border-radius: 8px;
      }
    }

    .admin-link {
      border-top: 2px dotted #BACBD5;
      margin-top: 20px;
    }
  }
}

/* Main */
.main {
  width: 90%;
  padding: 0px 20px;

  .main-container {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 12px;

    .header {
      height: 70px;
      display: flex;
      border-bottom: 1px solid #DADCE0;

      .title {
        font-size: 20px;
        font-weight: 600;
        display: grid;
        place-content: center;

        .title-text {
          padding-inline: 20px;
          padding-block: 5px;
          border-right: 1px solid #DADCE0;
        }
      }

      .tabs {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-inline: 20px;
        gap: 20px;

        .tab {
          height: 100%;
          display: flex;
          align-items: center;

          &.active {
            color: #0073E6;
            font-weight: 600;
            border-bottom: 3px solid #0073E6;
          }
        }
      }
    }

    .content {
      padding: 20px;

      .overview {
        display: flex;
        flex-direction: column;
        gap: 16px;

        > h3 {
          font-size: 18px;
          font-weight: 500;
        } 

        .overview-container {
          display: flex;
          
          border: 1px solid #DADCE0;
          border-radius: 12px;

          .section {
            display: flex;
            flex-direction: column;
            gap: 16px;
            line-height: 140%;
            padding: 16px 20px;
            border-right: 1px solid #DADCE0;
            flex-grow: 1;

            .title {
              font-size: 14px;
              font-weight: 600;
            }

            .stats {
              display: flex;
              align-items: center;

              .icon {
                background-color: #EBE8FD;
                border-radius: 8px;
                padding: 10px;
                height: 40px;
                aspect-ratio: 1;

                &.source {
                  background-color: #FCE8EF;
                }

                &.link {
                  background-color: #E5F1FC;
                }
              }

              .stat {
                padding-inline: 20px;
                border-left: 1px solid #DADCE0;

                .stat-number {
                  display: flex;
                  gap: 5px;

                  .number {
                    font-size: 20px;
                    font-weight: 700;
                  }

                  .change {
                    font-size: 12px;
                    font-weight: 500;
                    color: #05C165;
                  }
                }

                .stat-title {
                  font-size: 12px;
                  font-weight: 500;
                }

                &:first-of-type {
                  border-left: none;
                }
              }
            }

            &:last-of-type {
              border-right: none;
            }
          }
        }
      }
    }
  }
}

